@page "{id}"
@model Decker.Pages.CardModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-4 mx-auto">
            <div id="card-@Model.Card.Id" style="view-transition-name: card-@Model.Card.Id;" class="card">
                <div class="card-header">
                    @Model.Card.Id - @Model.Card.Name
                </div>
                <div class="card-body">
                    <p class="card-text">Prompt: @Model.Card.Prompt</p>
                    <p class="card-text">Description: @Model.Card.Description</p>
                </div>
                <div class="card-footer" style="text-align:right">by: @Model.Card.Creator &#64;@Model.Card.CreatorGitHubHandle</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col gy-4 text-center">
            <a class="btn btn-primary gy-4" asp-page="/Index" hx-replace-url="/cc" asp-fragment="card-@Model.Card.Id">Back to Deck</a>
        </div>
    </div>

</div>