@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row row-cols-3 gy-4">
    @foreach(var card in Model.Cards)
    {
    <div class="col">
        <div id="card-@card.Id" style="view-transition-name: card-@card.Id;" class="card">
            <div class="card-header">
                @card.Id - @card.Name
            </div>
            <div class="card-body">
                <p class="card-text">Prompt: @card.Prompt</p>
                <a class="btn btn-primary" asp-page="card" asp-route-id="@card.Id">Show</a>
            </div>
            <div class="card-footer" style="text-align:right">by: @card.Creator &#64;@card.CreatorGitHubHandle</div>
        </div>
        
    </div>
    }
    </div>
</div>